@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: black;
    text-align: center;
    line-height: 1.5;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.container {
    padding: 50px 0;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

section:nth-child(even) {
    background-color: #f8f8f8;
    margin: 150px 0 0px 0;
}

.section_title {
    margin-bottom: 20px;
}


/* Nav */

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
}

.nav--anchor {
    margin: 0 12px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.link--anchor-primary {
    background-color: rgb(0, 255, 0);
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms;
}

.link--anchor-primary:hover {
    background-color: green;
}

.about_me_info{
    display: flex;
    flex-direction: column;
}

.My_Name {
    font-size: 26px;
    color: lightgreen;
    margin: 0 12px;
    font-weight: bold;
}

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.about--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.T--color {
    color: lightgreen;
}

.about--pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 18px rgba(0, 0, 0, .01);
    margin-bottom: 20px;

}

.pic_logo {
    width: 100px;
}

.hello {
    margin-bottom: 16px;
}
.about--p {
    font-size: 20px;
    margin-bottom: 28px;
}

.about_me-link {
    font-size: 20px;
    color: lightgreen;
    text-decoration: none;
    padding: 0 16px;
}

.about-me_img--container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me_img {
    width: 100%;
}

.line-stack {
    color: lightgreen;
}

.Language_img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms ease;
}

.Language:hover .Language_img {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.Language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.Language_img--container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
    
}

.Languages_list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.language_name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    opacity: 0;
}

.language:hover .language_name {
    transform: scale(1);
    opacity: 1;
}

.project_img {
    width: 100%;
    transition: all 500ms ease;
}

.project_wrapper {
    box-shadow: 0 20px 80px rgba(0, 0, 0, .0.01);
    border-radius: 20px;
    overflow: hidden;
    position: relative
}

.project_wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;   
    transition: opacity 450ms ease;
    z-index: 0.7;
}



.project:hover .project_wrapper::before {
    opacity: 0.7;
}

.project:hover .project_img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project_list {
    padding-top: 40px;
}